[submodule "vim_local/bundle/pathogen"]
	path = vim_local/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim_local/bundle/editorconfig"]
	path = vim_local/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim_local/bundle/sahara"]
	path = vim_local/bundle/sahara
	url = https://sanctum.geek.nz/code/sahara.git
[submodule "vim_local/bundle/surround"]
	path = vim_local/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim_local/bundle/vim-sensible"]
	path = vim_local/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim_local/bundle/vinegar"]
	path = vim_local/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim_local/bundle/eunuch"]
	path = vim_local/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
