[user]
    name = doubleface
    email = christophe@cozycloud.cc
[commit]
    template = /home/doubleface/git-commit-template.txt
[core]
    editor = vim
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[color "branch"]
    upstream = cyan
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    ci = commit
    co = checkout
    st = status
    dif = diff
    gl = log --decorate --graph --all --oneline
    glf = log --decorate --graph --all --pretty=medium --relative-date
    diffwords = diff --word-diff=color
    clean = clean -i
    purge = clean -dxi
    showfiles = show --name-status
    fixup = !sh -c 'SHA=$(git rev-parse $1) && git commit --fixup $SHA && git rebase -i --autosquash $SHA~' -
    conflicted = !nvim +Conflicted
	push-with-lease = push --force-with-lease --force-if-includes

[status]
    submoduleSummary = true
    showUntrackedFiles = all
[push]
    default = current
    followTags = true
[diff]
	; tool = vimdiff
[pull]
	rebase = true
