[user]
    name = doubleface
    email = christophe@thiriot.xyz
[core]
    editor = vim
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    ci = commit
    co = checkout
    st = status
    dif = diff
    unstage = reset HEAD --
    gl = log --decorate --graph --all --oneline
	push-with-lease = push --force-with-lease --force-if-includes

[status]
	submoduleSummary = true
