[submodule "vim_local/bundle/pathogen"]
	path = vim_local/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim_local/bundle/sahara"]
	path = vim_local/bundle/sahara
	url = https://sanctum.geek.nz/code/sahara.git
[submodule "vim_local/bundle/surround"]
	path = vim_local/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim_local/bundle/vim-sensible"]
	path = vim_local/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim_local/bundle/vinegar"]
	path = vim_local/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim_local/bundle/eunuch"]
	path = vim_local/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim_local/bundle/commentary"]
	path = vim_local/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim_local/bundle/fugitive"]
	path = vim_local/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim_local/bundle/syntastic"]
	path = vim_local/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim_local/bundle/airline"]
	path = vim_local/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim_local/bundle/gitgutter"]
	path = vim_local/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim_local/bundle/node"]
	path = vim_local/bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "vim_local/bundle/prettier"]
	path = vim_local/bundle/prettier
	url = git://github.com/prettier/vim-prettier.git
[submodule "vim-fakeclip"]
	path = vim_local/bundle/fakeclip
	url = git@github.com:kana/vim-fakeclip.git
[submodule "vim-editorconfig"]
	path = vim_local/bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim-rhubarb"]
	path = vim_local/bundle/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim_local/bundle/vim-polyglot"]
	path = vim_local/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim_local/bundle/vim-visual-multi"]
	path = vim_local/bundle/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
